.MessageContentContainer {
  padding: 17px 0px 0px 35px;
}

.MessageData {
  display: flex;
  align-items: center;
  gap: 3px;
  padding-top: 10px;
}

.MessageContent {
  padding-left: 61px;
  padding-right: 60px;
}
