.App {
  margin: 16px 32px;
}

.header {
  margin: 8px 0px;
}

.sectionMain {
  display: flex;
  height: 80vh;
  margin: 8px 0px;
}

.leftSection {
  width: 30vw;
  max-width: 320px;
  overflow-y: scroll;
  max-height: 666px;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  margin-top: 10px;
  margin-bottom: 550px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--background-grey);
  border-radius: 20px;
  border: 4.5px solid transparent;
  background-clip: content-box;
}

.rightSection {
  margin: 0 16px;
  width: 65vw;
}
